@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('font/Rubik-Regular.eot');
    src: local('open sans extralight'), local('open-sans-extralight'), url('font/Rubik-Regular.eot?#iefix') format('embedded-opentype'), url('font/Rubik-Regular.woff2') format('woff2'), url('font/Rubik-Regular.woff') format('woff'), url('font/Rubik-Regular.ttf') format('truetype'), url('font/Rubik-Regular.svg#Barlow') format('svg');
}

:root {
    --color_0: #15b815;
    --color_1: #006600;
    --color_2: #003a00;
    --color_3: #000800;
    --color_4: #003000;
    --color_back: black;
    --color_i: #1d1d1d;
    --color_i2: #444444;
    --font: 'Rubik', sans-serif
}

body {
    margin: 10px;
    padding: 0;
    background-color: var(--color_back);
    color: var(--color_1);
    font-family: var(--font);
    font-size: 20px;
}

.main_area {
    width: min-content;
    /* height: 100px; */
    border: solid 1px var(--color_1);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_area>div {
    margin-top: 10px;
    width: max-content;
}

.main_area div>span {
    cursor: default;
}

button {
    background-color: var(--color_back);
    border: 2px solid var(--color_1);
    margin: 3px;
    padding: 0 .666em;
    font-size: 2em;
    color: var(--color_1);
    text-shadow: 2px 2px 2px var(--color_2);
    user-select: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
    width: 350px;
}

button:hover {
    background-color: var(--color_1);
    color: var(--color_3);
}

.radio {
    position: relative;
    left: 24px;
}

.separator {
    width: 5px;
    height: 3px;
}

input {
    background-color: var(--color_i);
    border: none;
    margin: 0 0 0 5px;
    text-align: center;
    color: var(--color_1);
    font-size: 1.1em;
    width: 120px;
    font-family: var(--font);
    height: 24px;
}

input[type=color] {
    border: none;
    margin: 0 62px 0 5px;
    width: 42px;
    height: 26px;
    padding: 0;
}

.save_area {
    width: min-content;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save_area>div {
    width: max-content;
}

.ready {
    display: none;
}

#save_name {
    width: 350px;
    margin: 0;
}

textarea {
    width: calc(100vw - 25px);
    min-width: calc(100vw - 25px);
    max-width: calc(100vw - 25px);
    height: calc(100vh - 430px);
    min-height: calc(100vh - 430px);
    max-height: calc(100vh - 430px);
    background-color: var(--color_back);
    border: solid 1px var(--color_i);
    color: var(--color_1);
}

@keyframes changeLetter1 {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#wait1 {
    animation: changeLetter1 2s linear infinite reverse;
}

@keyframes changeLetter2 {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#wait2 {
    animation: changeLetter2 2s linear infinite reverse;
}

@keyframes changeLetter3 {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#wait3 {
    animation: changeLetter3 2s linear infinite reverse;
}

.documentation {
    position: absolute;
    left: 20px;
    top: 20px;
}

.documentation button {
    font-size: 20px;
    width: max-content;
}

.description {
    padding: 10px 40px;
    border: solid 1px var(--color_i);
    width: 60vw;
}

/* Tooltip container */

.tool_wrap {
    display: inherit;
    position: relative;
    width: 0;
    height: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color: var(--color_i);
    color: var(--color_1);
    text-align: center;
    padding: 3px 5px;
    border-radius: 6px;
    white-space: nowrap;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    margin: -3px 10px;
    border: solid 1px var(--color_i2);
    z-index: 1;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}